.icon-copy-address { background-image: url(png/copy-address.png); background-repeat: no-repeat; }

.icon-copy-booklet { background-image: url(png/copy-booklet.png); background-repeat: no-repeat; }

.icon-copy-time { background-image: url(png/copy-time.png); background-repeat: no-repeat; }

.icon-logo { background-image: url(png/logo.png); background-repeat: no-repeat; }