/**
 * elements.scss
 */
@import '_modules/vars';
@import '_modules/mixins';
@import 'compass/css3/border-radius';
@import 'compass/css3/images';


.polaroid {
  color: $text-dark;
  background: $bg-light;
  width: 225px + 18px + 18px;
  padding: 18px 18px 60px;

  & .polaroid-image {
    position: relative;
    z-index: 5;
    width: 225px;
    height: 200px;
    padding: 0;
  }

  & .icon { @include image-replacement(); }
}


  .polaroid-logo {
    & h1 {
      line-height: 180px; // Adjust to visually center
      background: url(../../img/img-building.jpg) no-repeat top left;

      & img { padding: 10px; }
    }
  }


  .polaroid-booklet {
    position: relative;

    & h2 {
      @include image-replacement();
      background: url(../../img/img-booklet.jpg) no-repeat top left;
    }

    & .icon-copy-booklet {
      position: absolute;
      top: 170px;
      left: 32px;
      z-index: 5;
      width: 210px;
      height: 43px;
      padding: 0;
    }
  }


  .polaroid-details {
    position: relative;

    & .camera {
      line-height: 200px;
      background: url(../../img/img-camera.jpg) no-repeat top left;
    }

    & .icon-copy-address {
      @include inline-block();
      width: 202px;
      height: 68px;
      line-height: 68px;
      margin-left: 12px;
      padding: 0;
    }

    & .icon-copy-time {
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 220px;
      height: 40px;
      padding: 0;
    }
  }


.btn {
  @include inline-block();
  color: $text-light;
  /*text-shadow: -1px -1px 1px #777;*/
  margin: 0 ($spacing /2) ($spacing /2) 0;
  padding: .5em 1.75em;

  @include border-radius(3px);
  @include background-with-css2-fallback(linear-gradient(#F7993E, #F68533));

  @include link-all-pseudo-elements($text-light);
  /*&:hover { background: $link; }*/
}

  .btn-no {
    @include background-with-css2-fallback(linear-gradient(#3B3B3B, #313131));
    margin-right: 0;
  }
