/**
 * page.scss
 */
@import '_modules/vars';
@import '_modules/mixins';

header {
  position: relative;
  z-index: 1; // keep below the main content
}

main {
  position: relative;
  z-index: 5; // move above the header
  color: $text-dark;
  background: $bg-light url($img-texture-light);
  border-top: 1px solid $bg-light;

  & h2,
  & p {
    text-shadow: 1px 1px 0 #FFF;
  }
}

.s-grid-whole .polaroid {
  margin: -13px auto 0;


  /*@include mq($M) {*/
    /*margin: 0;*/
  /*}*/
}

.s-grid-whole .polaroid-details,
.s-grid-whole .polaroid-booklet {
  position: relative;
  z-index: 5;
  float: left;
  margin: -50px ($spacing /4) ($spacing /4);
}

.s-grid-whole .polaroid-details {
  z-index: 1; // keep below the booklet
  float: right;
  margin-top: -40px;
}
