/**
 * page.scss
 */
@import '_modules/vars';
@import '_modules/mixins';
@import "compass/css3/box-shadow";

main {
  color: $text-dark;
  background: $bg-light url($img-texture-light);

  & h2,
  & p {
    text-shadow: 1px 1px 0 #FFF;
  }
}

.s-grid-whole .polaroid {
  margin: 0 auto;

  /*@include mq($M) {*/
    /*margin: 0;*/
  /*}*/
}

.s-grid-whole .polaroid-details,
.s-grid-whole .polaroid-booklet {
  float: left;
  margin: $spacing /4;
}

.s-grid-whole .polaroid-details { float: right; }

